# Import libraries, queries.py and credentials.py

In [119]:
import pandas as pd
import pyodbc
import os
import credentials #credentials.py located in this directory
import queries #queries.py located in this directory

# Connect to Database ,Query Data & Dump Results Into Dataframe.

In [127]:
#ODBC connection to TERADATA

#query string imported from the query files
queryA = queries.data_limit_exceed_time_pure_average
queryB = queries.data_limit_exceed_time_days_dlist
queryC = queries.data_limit_exceed_time_average_by_plans

#connection string object.
conn = 'DRIVER={DRIVERNAME};DBCNAME={hostname};UID={uid};PWD={pwd};authentication={auth}'.format(
                            DRIVERNAME='databaseDriver',
                            hostname='ip_address',
                            uid=credentials.tera_username,
                            pwd=credentials.tera_password,
                            auth='LDAP') #to log as script

#Database connection object.
connection = pyodbc.connect(conn)

#Retrieve data to dataFrame
with pyodbc.connect(conn) as connect:
    df0 = pd.read_sql(queryA,connect)
    df1 = pd.read_sql(queryB,connect)
    df2 = pd.read_sql(queryC,connect)

#-------------------------------------------------------------------------
    # Push Data to teradata tables
#-------------------------------------------------------------------------

#Enable autocommit for DDL commands
connection.autocommit = True;

#Cursor handler for the sql statements, this will be used to push data into the database.
cursor = connection.cursor() 

#Insert Values from Dataframe pure_average into teradata
cursor.executemany(f"""INSERT INTO USER_DW.data_limit_exceed_time_pure_average VALUES (CAST(? AS DATE FORMAT 'MM/DD/YYYY'),?,?,?,?)""",
                   pure_average.values.tolist())

#Insert Values from Dataframe days_dlist into teradata
cursor.executemany(f"""INSERT INTO USER_DW.data_limit_exceed_time_days_dlist VALUES (CAST(? AS DATE FORMAT 'MM/DD/YYYY'),?,?,?)""",
                   days_dlist.values.tolist())

#Insert Values from Dataframe average_by_plans into teradata
cursor.executemany(f"""INSERT INTO USER_DW.data_limit_exceed_time_average_by_plans VALUES (CAST(? AS DATE FORMAT 'MM/DD/YYYY'),?,?,?)""",
                   average_by_plans.values.tolist())

#-------------------------------------------------------------------------

#close cursor to close connection
cursor.close()

#close connection so it does not take resources
connection.close()

AttributeError: module 'queries' has no attribute 'data_limit_exceed_time_days_dlist'

# LOGIC APPLIED

No logic, the data is a direct pull from a TDIDW and push to TMOREVAMP

# TEST DATA

In [73]:
USER_DW_average_by_plans = [['2/31/2020', '0GB', 0 , '0'],['3/31/2020', 'x', 1 , 'x'], ['4/30/2020','2GB',2,'2'],['4/30/2020','x',2,'x']]
df00 = pd.DataFrame( USER_DW_average_by_plans, columns = [ 'eom_dt', 'plans', 'avg_days', "user_cnt" ] )

new_average_by_plans = [['3/31/2020', '1GB', 1 , '1'], ['4/30/2020','2GB',2,'2'],['5/31/2020','3GB',3,'3']]
df01 = pd.DataFrame( new_average_by_plans, columns = [ 'eom_dt', 'plans', 'avg_days', "user_cnt" ] )

In [74]:
df00

      eom_dt plans  avg_days user_cnt
0  2/31/2020   0GB         0        0
1  3/31/2020     x         1        x
2  4/30/2020   2GB         2        2
3  4/30/2020     x         2        x

In [75]:
df01

      eom_dt plans  avg_days user_cnt
0  3/31/2020   1GB         1        1
1  4/30/2020   2GB         2        2
2  5/31/2020   3GB         3        3

# LOGIC A

1 - Get the data from both dataframes into a list format.\
2 - Get the rows from the new production table that are not in the USER_DW table.\
3 - Create a dataframe with only the new stuff.\
4 - Push new rows to the USER_DW tables using the cursor.execute().

In [124]:
def get_new_full_rows(df_old, df_new):
    df_old_listOfRows = df_old.values.tolist() #pandas to listA
    df_new_listOfRows = df_new.values.tolist() # pandas to listB
    diff_rows = [i for i in df_new_listOfRows if i not in df_old_listOfRows] #get list of new rows
    return diff_rows

In [125]:
newRows_df02 = get_new_rows(df00,df01)
df02 = pd.DataFrame( newRows_df02, columns = [ 'eom_dt', 'plans', 'avg_days', "user_cnt" ] )
df02

      eom_dt plans  avg_days user_cnt
0  3/31/2020   1GB         1        1
1  4/30/2020   2GB         2        2
2  5/31/2020   3GB         3        3
3  2/31/2020   0GB         0        0

In [107]:
#JDBC driver for spark.
#driver needs to be configured first.
#pyodbc.connect?

# LOGIC B

1 - Get the data from both dataframes into a list format.\
2 - Get a flat list of dates for each dataframe.\
3 - Find what dates are only available in the old list (these are the old rows we will keep).\
4 - Get all the rows from  df_old_listOfRows that match the oldDatesOnly.\
5 - Get all the rows from df_new_listOfRows that match the remaining dates not included in oldDatesOnly.\
6 - Concatenate both lists and dump them into a dataframe.\
7 - This will be the new table to push to USER_DW

In [117]:
def get_new_rows(df_old, df_new):
    
    df_old_listOfRows = df_old.values.tolist() # pandas to listB
    df_new_listOfRows = df_new.values.tolist() #pandas to listA

    df_old_dates = list(zip(*df_old_listOfRows))[0] #get all the dates for listB
    df_new_dates =  list(zip(*df_new_listOfRows))[0] #get all the dates for listA

    oldDatesOnly = [i for i in df_old_dates if i not in df_new_dates] #get the old dates only

    oldRowsOnly = [i for i in df_old_listOfRows if i[0] in oldDatesOnly] #get the rows from old dataframe match old dates only.
    newRowsOnly = [i for i in df_new_listOfRows if i[0] in df_new_dates] #get the rows from new dataframe that match new dates only.

    freshData = newRowsOnly + oldRowsOnly
    
    return(freshData)

df03 = get_new_rows(df00,df01)
dataToPush = pd.DataFrame( df03, columns = [ 'eom_dt', 'plans', 'avg_days', "user_cnt" ] )
dataToPush

      eom_dt plans  avg_days user_cnt
0  3/31/2020   1GB         1        1
1  4/30/2020   2GB         2        2
2  5/31/2020   3GB         3        3
3  2/31/2020   0GB         0        0